[{elvis, [
  {config, [
      #{ dirs => ["src/**", "test/**"]
       , filter => "*.erl"
       , ruleset => erl_files
       % these are not enforced by default, so are added here for completeness
       , rules => [{elvis_style, max_module_length, #{}}
                 , {elvis_style, no_common_caveats_call, #{}},
                 {elvis_style, invalid_dynamic_call, #{ignore => [bbsvx_server_connection]}}

                  ]
       }
    , #{ dirs => ["include/**"]
       , filter => "*.hrl"
       , ruleset => hrl_files
       }
    , #{ dirs => ["."]
       , filter => "Makefile"
       , ruleset => makefiles
       , rules => [] }
    , #{ dirs => ["."]
       , filter => "rebar.config"
       , ruleset => rebar_config
       , rules => [] }
    , #{ dirs => ["."]
       , filter => "elvis.config"
       , ruleset => elvis_config
       , rules => [] }
  ]}
, {verbose, true}
]}].