otp_path: "/home/yan/.asdf/installs/erlang/25.3.2.5"
deps_dirs:
  - "_build/default/lib/*"
diagnostics:
  enabled:
    - crossref
    - dialyzer
include_dirs:
  - "include"
  - "_build/default/lib"
lenses:
  enabled:
    - ct-run-test
  disabled:
    - show-behaviour-usages
providers:
  enabled:
    - signature-help