otp_path: "/home/yan/.asdf/installs/erlang/26.2.4"
deps_dirs:
  - "_build/default/lib/*"
  - "_build/default/lib/opentelemetry_api/apps/*"
  - "_build/default/lib/opentelemetry_api/*"
  - "_build/default/lib/emqx/*"
  - "_build/default/lib/emqx/apps/*"
  - "_build/default/lib/emqx_utils/*"
  - "_build/test/lib/*"
diagnostics:
  enabled:
    - bound_var_in_pattern
    - compiler
    - crossref
    - dialyzer
    - elvis
include_dirs:
  - "include"
  - "_build/default/lib"
  - "_build/default/lib/emqx_utils/apps/emqx_utils/include"
  - "_build/default/lib/emqx_utils/apps/*"
  
lenses:
  enabled:
    - ct-run-test
    - show-behaviour-usages
