{erl_opts,
 [debug_info,
  {platform_define, "(linux|solaris|freebsd|darwin)", 'BUILD_WITHOUT_QUIC', true}]}.

{deps,
 [{erlog, {git, "https://github.com/rvirding/erlog.git"}},
  {erlang_uuid,
   "",
   {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, "master"}}},
  {ejabberd, {git, "https://github.com/processone/ejabberd.git"}},
  {emqtt, {git, "https://github.com/emqx/emqtt.git"}},
  {uuid,
   "",
   {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, "master"}}},
  {quickrand, {git, "https://github.com/okeuday/quickrand.git"}},
  gproc
]}.

{shell,
 [{config, "config/sys.config.src"},
  {apps, [sasl, ssl, compiler, syntax_tools, runtime_tools, ejabberd, emqtt, mqtree, gproc, uuid, quickrand, erlog, bbsvx]},
  {dev_mode, true}]}.

{project_plugins, [rebar3_format]}.

{relx,
 [{release,
   {bbsvx, "0.1.0"},
   [sasl, ssl, compiler, syntax_tools, runtime_tools, ejabberd, emqtt, mqtree, gproc, uuid, quickrand, erlog, bbsvx]},
  {sys_config_src, "./config/sys.config.src"},
  {vm_args_src, "./config/vm.args.src"},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}]}.
