{erl_opts,
 [debug_info,
  {platform_define, "(linux|solaris|freebsd|darwin)", 'BUILD_WITHOUT_QUIC', true}]}.

{deps,
 [{erlog, {git, "https://github.com/rvirding/erlog.git"}},
  {erlang_uuid, {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, "master"}}},
  {uuid, "", {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, "master"}}},
  {riak_dt, {git, "https://github.com/basho/riak_dt.git"}},
  {quickrand, {git, "https://github.com/okeuday/quickrand.git"}},
  cowboy,
  ranch,
  jiffy,
  gproc,
 
  %% Tracing and metrics
  {jsonformat, {git, "https://github.com/kivra/jsonformat.git"}},
  {opentelemetry_api,
   {git_subdir,
    "http://github.com/open-telemetry/opentelemetry-erlang",
    {branch, "main"},
    "apps/opentelemetry_api"}},
  {opentelemetry,
   {git_subdir,
    "http://github.com/open-telemetry/opentelemetry-erlang",
    {branch, "main"},
    "apps/opentelemetry"}},
  {opentelemetry_exporter,
   {git_subdir,
    "http://github.com/open-telemetry/opentelemetry-erlang",
    {branch, "main"},
    "apps/opentelemetry_exporter"}},
    opentelemetry_cowboy,
  prometheus,
  prometheus_httpd]}.

{shell,
 [{sys_config_src, "./config/sys.config.src"},
  {vm_args_src, "./config/vm.args.src"},
  {apps,
   [sasl,
    ssl,
    opentelemetry_api,
    opentelemetry_exporter,
    opentelemetry_cowboy,
    cowboy_telemetry,
    jsonformat,
    {opentelemetry, temporary},
    prometheus,
    prometheus_httpd,
    cowboy,
    jiffy,
    riak_dt,
    mnesia,
    gproc,
    uuid,
    quickrand,
    erlog,
    bbsvx]},
  {extended_start_script, true},
  {dev_mode, true}]}.

{relx,
 [{release,
   {bbsvx, "0.1.0"},
   [sasl,
    ssl,
     opentelemetry_api,
    opentelemetry_exporter,
    opentelemetry_cowboy,
    cowboy_telemetry,
    jsonformat,
    {opentelemetry, temporary},
    prometheus,
    prometheus_httpd,
    cowboy,
    jiffy,
    riak_dt,
    mnesia,
    gproc,
    uuid,
    quickrand,
    erlog,
    bbsvx]},
  {sys_config_src, "config/sys.config.src"},
  {vm_args_src, "config/vm.args.src"},
  {dev_mode, false},
  {include_erts, false},
  {extended_start_script, true}]}.

{profiles, [{test, [{deps, [meck]}]}]}.

{ct_opts, [{keep_logs, 10}, {dir, ["./ct"]}, {include, ["./include"]}]}.



