[{kernel,
      [{logger_level, info},
       {logger,
        [{handler,
          default,
          logger_std_h,
          #{level => debug,
            formatter =>
                {logjam,
                 #{colored => true,
                   time_designator => $\s,
                   time_offset => "",
                   time_unit => second,
                   strip_tz => true,
                   level_capitalize => true}}}},
         {handler,
          disk_log,
          logger_disk_log_h,
          #{config =>
                #{file => "logs/error"}, % 10 x 5mb
            level => info}}]}]}].