# config file version
apiVersion: 1

# list of datasources to insert/update depending
# whats available in the database
datasources:
  # Prometheus-compatible datasource for VictoriaMetrics
- name: VictoriaMetrics
  type: prometheus
  access: proxy
  orgId: 1
  uid: victoriametrics
  url: http://victoria_metrics:8428
  isDefault: true
  jsonData:
     httpMethod: GET
  version: 1
  editable: true
# - name: Tempo
#   type: tempo
#   editable: true
#   uid: tempo
#   url: http://tempo_collector:3200
#   jsonData:
#     httpMethod: GET
#     serviceMap:
#       datasourceUid: 'prometheus'
#   version: 1
- name: Loki
  type: loki
  editable: true
  uid: loki
  url: http://loki_collector:3100
  jsonData:
    httpMethod: GET
  version: 1
  access: proxy
  isDefault: false
  orgId: 1
  basicAuth: false
  withCredentials: false
